In [1]:
from datetime import datetime,timedelta
import time
today_date = datetime.now()
print("UNIX timestamp:",(datetime.timestamp(today_date)) )
year_month_day = datetime.strftime(today_date, "%Y-%m-%d")
year_month_day_h_m_s = datetime.strftime(today_date, "%Y-%m-%d %H:%M:%S")
print(year_month_day)
print(year_month_day_h_m_s)

UNIX timestamp: 1679068491.836436
2023-03-17
2023-03-17 12:54:51

In [2]:
type(year_month_day).__name__

'str'

In [3]:
today_date = datetime.now() # 2023-03-02 15:03:19
print('--------------------')

print( datetime.strptime(datetime.strftime(today_date, "%Y-%m-%d"), "%Y-%m-%d") )

print('--------------------')
ts_data = (datetime.timestamp(today_date)) 
ret2 = datetime.fromtimestamp(int(ts_data))
hoje = datetime.strptime(datetime.strftime(ret2, "%Y-%m-%d"), "%Y-%m-%d")
hoje2 = (datetime.strptime((hoje.today()-timedelta(days=1)).strftime('%Y-%m-%d'), "%Y-%m-%d"))
amanha = (hoje.today()+timedelta(days=1)).strftime('%Y-%m-%d')

ret3 = int('1679400000')

ret4 = datetime.fromtimestamp(ret3)
#print(ret2)
print(ts_data)
print(f'hoje: {hoje}')
print(ret2)
print(ret3)
print(ret4)

result = lambda x,y: f'sim é menor' if x > y else f'não é'
print(result(ret2,ret4) )

print(f'ret2: {type(ret2).__name__}')
print(f'ret4: {ret4} :: {type(ret4).__name__}')
print(f'hoje: {hoje} :: {type(hoje).__name__}')
print(f'hoje2: {hoje2} :: {type(hoje2).__name__}')
print(f'amanha: {amanha} :: {type(amanha).__name__}')

print(f'{ret2} | {ret4}: {result(ret2,ret4)}' )
print(f'{hoje} | {ret4}: {result(hoje,ret4)}' )
# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case

--------------------
2023-03-17 00:00:00
--------------------
1679068495.484408
hoje: 2023-03-17 00:00:00
2023-03-17 12:54:55
1679400000
2023-03-21 09:00:00
não é
ret2: datetime
ret4: 2023-03-21 09:00:00 :: datetime
hoje: 2023-03-17 00:00:00 :: datetime
hoje2: 2023-03-16 00:00:00 :: datetime
amanha: 2023-03-18 :: str
2023-03-17 12:54:55 | 2023-03-21 09:00:00: não é
2023-03-17 00:00:00 | 2023-03-21 09:00:00: não é

In [21]:
current_date_time = datetime.now()  # 2023-03-02 15:03:19
current_date = datetime.strptime(datetime.strftime(current_date_time, "%Y-%m-%d"), "%Y-%m-%d") # 2023-03-02
yesterday_date = int(datetime.timestamp( (datetime.strptime((current_date.today().replace(hour=23, minute=0, second=0)-timedelta(days=1)).strftime('%Y-%m-%d %H:%M:%S'), "%Y-%m-%d %H:%M:%S")) ))
tomorrow_date = int(datetime.timestamp( (datetime.strptime((current_date.today().replace(hour=0, minute=0, second=0)+timedelta(days=1)).strftime('%Y-%m-%d %H:%M:%S'), "%Y-%m-%d %H:%M:%S")) ))

ret4 = datetime.fromtimestamp(yesterday_date)
ret5 = datetime.fromtimestamp(tomorrow_date)

print('-------------------------------')
print(f'current_date_time: {current_date_time}')
print(f'current_date: {current_date}')
print(f'yesterday_date: {yesterday_date}')
print(f'tomorrow_date: {tomorrow_date}')
print('-------------------------------')
print(f'ret4: {yesterday_date} :: {ret4}')
print(f'ret5: {tomorrow_date} :: {ret5}')



print('-------------------------------')

-------------------------------
current_date_time: 2023-03-17 13:11:18.198152
current_date: 2023-03-17 00:00:00
yesterday_date: 1679018400
tomorrow_date: 1679108400
-------------------------------
ret4: 1679018400 :: 2023-03-16 23:00:00
ret5: 1679108400 :: 2023-03-18 00:00:00
-------------------------------

In [53]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
#df = pd.read_json(r'./weather_16.json')

#print(df.head())

#df = pd.read_json (r'./hourly_16.json', encoding = 'utf-8-sig', lines=True, nrows=500)
df = pd.read_json (r'./city.list.min.json', encoding = 'utf-8-sig')
df_filter = df[(df['country'] == 'BR')]

df_filter['name2'] = df_filter['name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

C:\Users\92049358\AppData\Local\Temp\ipykernel_10484\2423490564.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter['name2'] = df_filter['name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [55]:
df_filter.head(20)

,id,name,state,country,coord,name2
128100,3384868,Zumbi,,BR,"{'lon': -35.683331, 'lat': -7.1}",Zumbi
128101,3384930,Xexéu,,BR,"{'lon': -35.626942, 'lat': -8.80222}",Xexeu
128102,3384937,Xarqueada,,BR,"{'lon': -48.362499, 'lat': -9.48917}",Xarqueada
128103,3384940,Xambioá,,BR,"{'lon': -48.536388, 'lat': -6.41111}",Xambioa
128104,3384983,Vitorino Freire,,BR,"{'lon': -45.166672, 'lat': -4.06667}",Vitorino Freire
128105,3384986,Vitória do Mearim,,BR,"{'lon': -44.87056, 'lat': -3.46222}",Vitoria do Mearim
128106,3384987,Vitória de Santo Antão,,BR,"{'lon': -35.291389, 'lat': -8.11806}",Vitoria de Santo Antao
128107,3385022,Viseu,,BR,"{'lon': -46.139999, 'lat': -1.1966700000000001}",Viseu
128108,3385042,Vinhais,,BR,"{'lon': -44.26667, 'lat': -2.51667}",Vinhais
128109,3385077,Conde,,BR,"{'lon': -34.907501, 'lat': -7.25972}",Conde
128110,3385088,Vigia,,BR,"{'lon': -48.14167, 'lat': -0.85833}",Vigia
128111,3385106,Viçosa do Ceará,,BR,"{'lon': -41.09222, 'lat': -3.56222}",Vicosa do Ceara
128112,3385109,Viçosa,,BR,"{'lon': -36.240829, 'lat': -9.37139}",Vicosa
128113,3385118,Vicência,,BR,"{'lon': -35.326672, 'lat': -7.6569400000000005}",Vicencia
128114,3385122,Viana,,BR,"{'lon': -45.003609, 'lat': -3.22028}",Viana
128115,3385131,Vertentes,,BR,"{'lon': -35.988331, 'lat': -7.90278}",Vertentes
128116,3385226,Icaraí,,BR,"{'lon': -38.650002, 'lat': -3.68333}",Icarai
128117,3385228,Vera Cruz,,BR,"{'lon': -35.428329, 'lat': -6.04417}",Vera Cruz
128118,3385303,Veados,,BR,"{'lon': -40.383331, 'lat': -3.86667}",Veados
128119,3385467,Várzea Alegre,,BR,"{'lon': -40.383331, 'lat': -5.35}",Varzea Alegre

In [25]:
df.to_json('teste.json', orient="records")

print('OK---------')

OK---------

In [8]:
df_filter.head()

,id,name,state,country,coord,name2
128100,3384868,Zumbi,,BR,"{'lon': -35.683331, 'lat': -7.1}",Zumbi
128101,3384930,Xexéu,,BR,"{'lon': -35.626942, 'lat': -8.80222}",Xexeu
128102,3384937,Xarqueada,,BR,"{'lon': -48.362499, 'lat': -9.48917}",Xarqueada
128103,3384940,Xambioá,,BR,"{'lon': -48.536388, 'lat': -6.41111}",Xambioa
128104,3384983,Vitorino Freire,,BR,"{'lon': -45.166672, 'lat': -4.06667}",Vitorino Freire

In [56]:
df_filter.to_csv('openweathermaplistmincity.csv', sep=';', encoding='utf-8', index=None)

print('OK---------')

OK---------